{% extends 'base.html' %}

{%block head %}
<title>To Do</title>
{% endblock %}

{%block body %}

<h1 style="text-align: center; margin-top: 30px;">Task Master</h1>

{% if tasks|length < 1 %}
<div class="jumbotron">
<h4 class="text-center display-5">There are no tasks, create one below!</h4>
</div>
{% else %}
<div class="container-sm shadow-lg p-5 mb-3 bg-white rounded">
    <div class="row">
      <div class="col col-sm-5 border border-1"><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Task</span></div>
      <div class="col col-sm-3 border border-1"><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Added</span></div>
      <div class="col col-sm-3 border border-1"><span style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Actions</span></div>
      <hr>
    {% for task in tasks %}
        <!-- <div class="w-100 d-none d-md-block"></div> -->

        <div class="col col-sm-5 font-monospace">{{task.content}}</div>
        <div class="col col-sm-3 font-monospace">{{task.date_created.strftime("%Y-%m-%d %H:%M:%S")}}</div>
        <div class="col col-sm-3">
            <a class="btn btn-outline-danger" href="/delete/{{task.id}}" role="button">Delete</a>
            <a class="btn btn-outline-info" href="/update/{{task.id}}" role="button">Update</a>
        </div>
        <hr>
    {% endfor %}
    </div>
</div>
{% endif %}
<br>
<div class="content">
<form action="/" method="POST">
    <div class="form-group">
        <input type="text" name="content" id="content" class="form-control d-inline-block" placeholder="Enter your task here" required>
        <button type="submit" class="btn btn-outline-success d-inline-block">Add Task</button>
    </div>
</form>
</div>
<br>
{% endblock %}