{% extends 'base.html' %}

{%block head %}
<title>To Do</title>
{% endblock %}

{%block body %}
<div class="content">
    <div class="jumbotron" style="margin-top: 30px;">
        <h4 class="display-5">Update Task</h4>
    </div>
    <form action="/update/{{task.id}}" method="POST">
        <div class="form-group">
            <input type="text" name="content" id="content" value="{{task.content}}" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-outline-success">Update</button>
        </div>
    </form>
</div>
<div id="clockContainer">
    <div id="hour"></div>
    <div id="minute"></div>
    <div id="second"></div>
</div>
{% endblock %}